nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
}

nav p {
    color: #fff;
}

.nav-btns {
    display: flex;
    gap: 1rem;
}


.nav-btns button {
    border: none;
    border-radius: .5rem;
    width: 5rem;
    height: 2rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: scale .5s ease, background-color .5s ease, color .5s ease;
}

.nav-btns button:hover {
    scale: 1.1;
    background-color: #f70;
    color: #000;
}